@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  background-color: rgb(229 229 229);
}

html {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homePageBg {
  scrollbar-width: none;
}

/* Loading */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #64bcbf;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin 2s linear infinite;
  margin-bottom: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
