@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homePageBg {
  scrollbar-width: none;
}
